.navbar {
    background-color: none;
}

.nav-link {
    font-size: 2rem;
}

.nav-item {
    font-family: 'Acme', sans-serif;

}


























font-family: 'Rubik Doodle Shadow', system-ui;
